<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> Student Register</h1>
    <a href="/students/new">
        <button type="button">Add Student</button>
    </a>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        <% students.forEach(student=> { %>
            <tr> 
                <td> 
                    <%= student.name %>
                </td> 
                <td> 
                    <%= student.age %>
                </td> 
                <td> 
                    <%= student.address %>
                </td> 
                <td> 
                    <%= student.email %>
                </td> 
                <td>
                    <a href="/students/<%=student._id %>" >View</a>
                    <a href="/students/edit/<%=student._id %>" >Edit</a>
                    <form action= "/students/<%=student._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
    <a href="/logout">
        <button type="button">Logout</button>
    </a>
</body>
</html>